
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
html, body {
    scroll-behavior: auto !important;
    overflow-x: hidden;
  
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.saira {
  font-family: "Saira", sans-serif;

}
@keyframes zoomEffect {
    0%, 100% { transform: scale(1); } 
    50% { transform: scale(1.2); } 
  }
  .animate-zoom {
    animation: zoomEffect 4s infinite; 
  }
